{% extends 'catalog/base.html' %}

{% block content %}

<div class="container">

    <div class="row text-center m-2">
        <a href="{% url 'blog:create' %}">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                Добавить заметку в блог
            </button>
        </a>
    </div>


    <div class="row text-center">

        {% for object in object_list %}

        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.header | upper}}</h4>
                </div>


                <div class="card-body">
                    <p>
                        {{ object.content |truncatechars:100 }}
                    </p>

                    <a href="/blog/view/{{object.pk}}/">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Читать
                        </button>
                    </a>

                    <a href="{% url 'blog:edit' object.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Править
                        </button>
                    </a>

                    <a href="{% url 'blog:delete' object.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить
                        </button>
                    </a>

                </div>

            </div>


        </div>
        {% endfor %}


    </div>


    {% endblock %}
