{% extends 'catalog/base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data" class="row">
    {% csrf_token %}

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                    Добавление продукта
                </h2>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price | floatformat:'2' }} ₴</h1>
    <p>{{ object.description | truncatechars:100 }}</p>
    <a href="/view/{{object.pk}}">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Подробности с фото
        </button>
    </a>
    <p>Активная версия: {{ object.active_version.number }}</p>
</div>

                {{ form.as_p }}
                <button type="submit" class="btn btn-success">
                    Сохранить
                </button>

            </div>
            <div class="card-footer">Card footer</div>

        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Версии продукта</h2>
            </div>

            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% if forloop.revcounter0 != 0 %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>

            <div class="card-footer">Class card-footer</div>

        </div>


    </div>


</form>
{% endblock %}
