{% extends 'catalog/base.html' %}

{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазин всяких интересностей</h1>
    <p class="lead">Успей сегодня, пока не разобрали</p>
</div>

<div class="container">
    <div class="row text-center">

        {% for object in object_list %}

        <div class="col-3">


            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.nomination | upper}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price | floatformat:'2' }} ₴</h1>

                    <p>
                        {{ object.description |truncatechars:100 }}
                    </p>
                    <a href="/view/{{object.pk}}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Подробности с фото
                        </button>
                    </a>
                </div>

            </div>


        </div>
        {% endfor %}


    </div>

    {% endblock %}
