{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block content %}


<h1 align="center">Сведения о продукте {{pk}}</h1>

<div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 24rem;">
  <img src="{{object.imagine_url|show_img }}" class="card-img-top" alt="Картинка товара">
  <div class="card-body">
    <h5 class="card-title">{{ object.nomination | upper}}</h5>
    <p class="card-text">Описание: {{ object.description }}</p>
    <p class="card-text">Категория: {{ object.category }}</p>

    <a href="#" class="btn btn-primary">Совершить покупку за {{object.price | floatformat:'2'}} ₴</a>
  </div>
</div>



{% endblock %}
